services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sql_server_db
    ports:
      - "1433:1433"
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=LicentaLixi1!
      - MSSQL_PID=Developer
    volumes:
      - sql_data:/var/opt/mssql
      
volumes:
  sql_data: